body {
  padding-top: 70px;
}

.nav-pills > li > a {
  padding: 5px;
}

.navbar-brand {
  padding-left: 5px;
  padding-bottom: 0;
  height: 40px;
}

.shiny-output-error-validation {
  padding: 1em;
  font-weight: bold;
  color: green;
}

.shiny-progress .progress-text {
  background-color: orange;
}

.shiny-progress .progress-text .progress-message {
  font-size: 100%;
  color: #03F;
}

img {
  border: 1;
  max-width: 100%;
}

element.style {
  width: 33.33%;
}

.bird-img {
  position:relative;
  display: block;
}

.current {
  width: 325px;
  overflow: hidden;
}

.current img {
    margin-right: 15px;
    float: left;
}



.wiki-watermark {
  background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
  position:absolute;
  left:0px;
  bottom:0px;
  padding: 5px;
  color:white;
  font-weight:bold;
  font-size: 75%;
}

.wiki-watermark a:link, .wiki-watermark a:visited, .wiki-watermark a:hover, .wiki-watermark a:active, .wiki-watermark a:focus {
  color:white;
}

.data-status {
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.3);
  padding: 5px;
  font-weight:bold;
  font-size: 85%;
  border-left-style: solid;
  border-left-color: black;
  border-left-width: 3pt;
  margin: 5px;
  bottom: 1px;
  left: 1px;
  position: fixed;
}

.package-version {
  padding: 5px;
  font-weight:bold;
  font-size: 85%;
  margin: 5px;
  bottom: 1px;
  right: 1px;
  position: fixed;
}

.popover {
  max-width: 600px;
  width:auto;
}
.popover-title {
  font-size: 15px;
  font-weight: bold;
}

.popover-content {
  font-size: 12px;
}
